@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
* {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2vmin;
  line-height: 1;
}

body {
  background-color: black;
  overflow: hidden;
}

#bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("https://source.unsplash.com/1920x1080/?snow");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: .2;
}

#container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 3fr 3fr 1fr 3fr;
  grid-template-areas: ". . ." ". name ." ". details ." ". . .";
}

#name {
  grid-area: name;
}

#name .name {
  text-transform: uppercase;
  font-size: 15vmin;
  font-weight: 900;
}

#name .desc {
  opacity: .5;
  transition: opacity 2s cubic-bezier(.86, 0, .07, 1);
}

#name .desc.out {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(250%);
  }
  10% {
    opacity: 0;
    transform: translateY(250%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#details {
  animation: 2s ease 0s 1 fadeIn;
  grid-area: details;
  justify-self: stretch;
  align-self: center;
  display: flex;
  justify-content: center;
}

#details>* {
  height: 2vmax;
  width: 2vmax;
  margin: 0 .75vmax;
  opacity: .6;
  cursor: pointer;
  transition: all .1s linear;
}

#details>*:hover {
  transform: scale(1.05);
  opacity: 1;
}

#details>*:active {
  transform: scale(.975);
}

#details .logo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (orientation: portrait) {
  * {
    font-size: 4vmin;
  }
  #container {
    grid-template-columns: auto;
    grid-template-rows: 3fr 3fr 1fr 3fr;
    grid-template-areas: "." "name" "details" ".";
  }
  #name .name {
    font-size: 22.5vmin;
  }
  #details>* {
    height: 10vmin;
    width: 10vmin;
  }
}
