#notification_bar {
  top: 0;
  left: 0;
  z-index: 50;
  position: absolute;
  width: 100vw;
  height: 3.25vmax;
  background-color: #0F0F0F;
  transition: transform .4s cubic-bezier(.79, .14, .15, .86);
}

#notification_bar .notification_container {
  margin: 1vmax 2vmax;
  display: flex;
  align-items: center;
}

#notification_bar .text {
  color: #FFFFFF;
  font-size: .8vmax;
  letter-spacing: .05vmax;
  flex-grow: 1;
}

#notification_bar .close_notification {
  height: .75vmax;
  width: .75vmax;
  background-image: url("../images/icons/cancel.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@media (orientation: portrait) {
  #notification_bar {
    height: auto;
  }

  #notification_bar .notification_container {
    height: 100%;
    flex-direction: column;
  }

  #notification_bar .text {
    font-size: 2.5vmax;
    margin-bottom: 2vmax;
  }

  #notification_bar .close_notification {
    margin: 2vmax 0;
    order: -1;
    height: 2.5vmax;
    width: 2.5vmax;
  }
}
